.footer {

  background-color: #3d1617;
  color: #fff;
  height: 216px;
  display: flex;
  align-items: center;
//   padding-top: 53px;
//   padding-bottom: 46px;

  @include max-screen($break_sp) {
    height: 156px;
  }

  &__inner {
    width: 100%;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 36px;
    padding-right: 36px;  
    display: block;
    height: auto;

    @include max-screen($break_sp) {
      padding-left: 14px;
      padding-right: 14px;
    }
  }

  &__info {
    margin-bottom: 20px;
  }

  a {
    color: #fff;
  }

  &__tit {
    font-size: 26px;
    line-height: (44/26);

    @include max-screen($break_sp) {
      font-size: 18px;
      line-height: (32/18);
    }
  }

  &__txt {
    $font_size: 9;
    $letter_spacing: 200;
    $line_height: 13;
    font-family: $eng_font;
    font-size: ($font_size) + px;
    font-weight: 300;
    letter-spacing: ($letter_spacing / 1000) + em;
    line-height: ($line_height / $font_size);
    color: $main_color;
    text-transform: uppercase;
  }

  &__copyrigth {
    $font_size: 12;
    // $letter_spacing: 0;
    $line_height: 20;

    @include max-screen($break_sp) {
      $font_size: 10;
      // $letter_spacing: 0;
      $line_height: 17;
    }

    font-family: $ja_font;
    font-size: ($font_size) + px;
    font-weight: 500;
    line-height: ($line_height / $font_size);
    // letter-spacing: ($letter_spacing / 1000) + em;
  }
}
